parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Function igbinary_.+ not found.#'
        - '#Function sodium_memzero invoked with 1 parameter, 2 required.#'
    excludes_analyse:
      - %currentWorkingDirectory%/src/Migrations/*
